@model IEnumerable<CarritoOnline3.Models.Entities.Product>

@{
    ViewData["Title"] = "CRUD Products";
}

<h1>Products</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create new product</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <!--<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ProductID">Details</a> |-->
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
